.instruction{
    display: flex;
    margin-bottom: 40px;
    align-items: flex-start;
    width: 40%;
}


.instruction .number{
    margin-right: 20px;
    padding: 7px 17px;
    border-radius: 5px;
    background-color: orange;
}